@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body{
    background-color: #212529;
}

main{
    background-color: rgba(255, 255, 255, 0.50);
    padding: 5%;
    margin: 0 1%;
    border-radius: 1em;
}

h1{
    color: white;
}

.btn_img{
    padding: 0;
    border-radius: 1em;
}

img{
    transition: all .5s;
    box-sizing: border-box;
    border-radius: 1em;
    width: 600px;
    height: 500px;
}

img:hover{
    opacity: 75%;
    cursor: pointer;
}